*{
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 224, 224);

}



.mainrow{
    display: flex;
    flex-wrap: wrap;
    
}

.sideleft{
    border:1px solid black;
    flex: 50%;
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    padding: 50px;
    width: 100%;
    
    text-align: center;
}

.sideright{
    border:1px solid black;
    flex: 50%;
    background-color: blanchedalmond;
    padding: 50px;
    width: 100%;
    
    text-align: center;
}

img{
    height: 100px;
    width: 100px;
}

.back{
    margin-top: 50%;
    margin-right: 90%;   
}

.back_btn{
    width: 200%;
    border: solid rgb(170, 170, 170);
    font-style: italic;
}

.footer{
    padding: 30px;
    text-align: left;
    background-color: rgb(224, 224, 224);
    width: 100%;
    bottom: 0;
    position: relative; /* maybe relative*/
}

@media screen and (max-width:1200px){
    
    .footer{
        background-color: rgb(224, 224, 224);
        flex-direction: column;
        height: auto;
        bottom: 0;
        
    }
    
}