<!DOCTYPE html>
<html>
    <head>
        <title>Furniture</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        -
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../Static/User_Management_Page.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
         

        <!-- Javascript -->
        
        <style>
            .user{
                font-size: 20px;
                text-align: center;
            }
            
            .logout_btn{
                border: none;
                border-radius: 25px;
                width: 50%;
                margin-left: -15px;
            }
            
        </style>
        
        

    </head>
    
    <body ng-app = "myApp">
        
        <div class="header">
            <button type="button" class="button" onclick="navigateTo('/admin')">Home</button> 
            <button type="button" class="button" onclick="navigateTo('/user_mng')">User Management </button> 
            <button type="button" class="button" onclick="navigateTo('/event_mng')">Event Management </button> 
            <button type="button" class="button"  onclick="navigateTo('/info_mng')">Info Management </button>
            <!--Dark Mode button-->
            <button type="button" class="toggle-btn" onclick="toggleDarkMode()">Dark Mode</button>
            <div class="login">
                <label class="user" >Admin</label><br>
                <button type="button" class="logout_btn"  onclick="navigateTo('/logout')"> Logout </button>
            </div>
 
            
        </div>

        
           
            
        
        <br><br>
        
        <form action="/searchUsers" method="POST">
            <div class="search">
                <label>Search</label>
                <input type="text" class="search_field" name="search_bar" id="Search" placeholder="Search" ></input>
                <button type="submit">🔍</button><br>
                <label>Filter</label>
                <select name="filter" id="filter" >
                    <option>Username Id</option>
                    <option>Display Username</option>
                    <option>Email</option>
                    <option>Password</option>     
                </select>
                
            </div>
        </form>


        
        <div class="mainrow">
            <div class="sideleft">
                <table >
                    <thead>
                        <tr>
                            <th><h3>Username Id</h3></th>
                            <th><h3>Display Username</h3></th>
                            <th><h3>Email</h3></th>
                            <th><h3>Password</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                       {{tableRows}}
                        
                    </tbody>
                    
                </table>
            </div>
            <div class="sideright">
                <form action="/SignUpUser" method="POST">
                    <div class="addUser">
                        <H3>Add User</H3>
                        <input type="text" name="Username0" placeholder="Display Name"></input><br><br>
                        <input type="text" name="Email0" placeholder="Email"></input><br><br>
                        <input type="text" name="Password0" placeholder="Password"></input><br><br>
                        <input type="submit" class="button" value="Add"/>
                    </div>
                </form>  
                <!-- Edit User Form -->
                <div class="editUser"  id="editForm">
                    <H3>Edit User</H3>
                    
                        <label id="user_id">{{sessionId}}</label>
                        <div>
                            <form action="/updateUser" method="POST" >
                                
                                <div> 
                                    <label id="editUsername" >{{sessionU}} </label>
                                    <input type="text" placeholder="New Username" name="Username2"></input><br>
                    
                                    <label id="editEmail">{{sessionE}}</label>
                                    <input type="text" placeholder="New Email" name="Email2"></input><br>
                                    
                                    <label id="editPassword">{{sessionP}}</label>
                                    <input type="text" placeholder="New Password" name="Password2"></input><br><br>
                                    
                                    
                                    <button type="submit"> Save</button>
                                </div>
                                
                                
                                
                            </form>
                            <br>
                            <br>
                            <br>
                            <form action="/DeleteUser" method="POST" >
                                <button type="sumbit" > Delete</button> 
                                
                            </form>
                           
                        </div>
                        <br>
                    
                </div>
            </div>
        </div>
            
        
        
        

        
        
        
        

        <script>
            
            function navigateTo(page) {
              window.location.href = page;
            }



            //Dark Mode
            const toggleButton = document.getElementById('dark-mode-toggle');
            const prefersDarkMode = localStorage.getItem('darkMode');

            if (prefersDarkMode === 'true') {
                document.body.classList.add('dark-mode');
            }

            function toggleDarkMode(){
                var body = document.body;
                body.classList.toggle("dark-mode");
                const isDarkMode = document.body.classList.contains('dark-mode');
                localStorage.setItem('darkMode', isDarkMode);
            }
        </script>
        
        
        


        <div class="footer">
            <img src="../Static/Logo.png">
            &copy;
            <a href="http://www.ds.unipi.gr/" target="_blank">
                DS_UNIPI</a>. All rights reserved.
            <div class="info">
                📞Phone: 999-999-99
                📧Email: furniture@mail.com
            </div>
        </div>

        <div ng-view></div>
    </body>
    
</html>